
    <p class="title_desc"> This example demonstrates how columns are rendered by setting the textAlign property. For each object in the columns array, just specify the textAlign property with either 'left' or 'right'. If this property is not set, data would be rendered with 'center' as default<span [style.float]="'right'"> <a [href]="'https://github.com/JeelaniBashaShaik/ngxDataGrid/tree/master/src/app/examples/text-align'" [target]="'_blank'">View Code</a></span></p> 
    <div class="container topHeight flex-container">
            <ngxdatagrid [rows]="dataArray" class="flex-item-grid" [forceColumnWidth]="false" [columns]="cols" [gridHeight]="350" [headerRowHeight]="30" [rowHeight]="30" [gridWidth]="700"></ngxdatagrid>
</div>


