<p class="title_desc">This example demonstrates the basic ngxdatagrid. Go through the documentation or copy the code from the repo as a boiler-plate.<span style="float:right"><a [href]="'https://github.com/JeelaniBashaShaik/ngxDataGrid/tree/master/src/app/examples/basic'" [target]="'_blank'">View Code</a></span></p>
<div class="container topHeight flex-container flex-container">
        <ngxdatagrid [rows]="rows" class="flex-item-grid" [columns]="columns" [gridHeight]="300" [headerRowHeight]="30" [gridWidth]="700" [rowHeight]="30"></ngxdatagrid>
</div>