<p class="about_text">This Datagrid can be used as a replacement to the normal HTML table and can be used in Angular2+ web applications.
    It is light weight, puts less load on the DOM and comes with many features. Following are the list of available features<p>

  <div class="col s12 m12 l12 xl12">
      <ol>
          <li>Uses VirtualScroll be default</li>
      
          <li>Equipped with Toolbar which has Inbuilt search for grid data</li>
      
          <li>Download CSV and Excel files of grid data</li>
      
          <li>Columns can be shown/hidden dynamically</li>
      
          <li>Equipped with Pagination</li>
      
          <li>De-coupled grid styling with a few options</li>
      
          <li>Single/Multi-Select rows in grid</li>
      
          <li>Supports shift-key selection of rows</li>
      
          <li>Can pre-select rows on load of grid</li>
          
          <li>Columns can be shown/hidden dynamically</li>
      
          <li>Text for individual columns can be aligned either left or right</li>
      
          <li>Each/all columns can be made editable</li>
      
          <li>Cell Templates can be assigned for each column</li>
      
          <li>Sorts the column data using merge sort algorithm</li>
      
          <li>Each column can be defined with individual width</li>
      
        </ol>
      
  </div>

