<p class="about_text">
  Hi There.If you were to load a table/list, Initially you wouldn't notice the size of the list and just use *ngFor and iterate the list.This would work fine if the template to iterate has less styles/data.</p>
  <br/>
  <p class="about_text"> What if your template is heavy and you have something like 10k rows. This would slow down your DOM because, all the 10k rows with your heavy template would be rendered and you might be wondering how to improve the performance of the page.</p>
  <br/>
  <p class="about_text"> This is where the virtualscroll pitches in. The main idea behind virtualscroll is that, we show only those items which will appear in the viewport. The rest are appended and removed automatically on scroll.
  If it sounds interesting, go ahead and check the examples.
</p>
