<div class="mini-container">
  <div class="row">
    <div class="col s12 m6 l4 xl4 flex-container">
      <div class="row">
          <h5 class="fw_300">Thats Me!!</h5>
          <hr/>
          <div class="col l10 xl10">
              <img src="assets/img2.jpg" height="300" style="border-radius: 2%">
          </div>
          <div class="col l2 xl2 flex-container-vertical">
              <div class="rw">
                  <i mz-icon-mdi [align]="'left'" [icon]="'phone'" [size]="'36px'"
                  mz-button mz-tooltip
                  [tooltip]="'Ring me at: <b class=\'red-text\'>07842929269</b>'"
                  [position]="'top'"
                  [html]="true"
                  [delay]="100"></i>
              </div>
            <div class="rw">
                <a [href]="'https://www.facebook.com/jeelan7'" [target]="'_blank'"><img src="/assets/fb.png"  style="margin-top:10px" height="35" width="35"></a>    
            </div>
            <div class="rw">
                <a [href]="'https://in.linkedin.com/in/jeelani-basha-shaik-8b220845'" [target]="'_blank'"><img src="/assets/linkedin.png"  style="margin-top:10px" height="35" width="35"></a>    
            </div>
            <div class="rw">
                <a [href]="'https://www.npmjs.com/~jb7'" [target]="'_blank'"><img src="/assets/npm.png"  style="margin-top:10px" height="35" width="35"></a>
            </div>
            <div class="rw">
                <a [href]="'https://github.com/JeelaniBashaShaik'" [target]="'_blank'"><img src="/assets/github1.png" style="margin-top:10px" height="35" width="35"></a>
            </div>
                    <!-- <div class="rw" (click)="bottomSheetModal.openModal()">
                            <i mz-icon-mdi [align]="'left'"  [icon]="'account-circle'" [size]="'36px'"
                            mz-button></i>
                        </div> -->
                   
          </div>
        
      </div>
    </div>
    <div class="col s12 m6 l4 xl4">
      <h5 class="fw_300">Work</h5>
      <hr/>
      <div class="row">
          <h5 class="no_margin">Asst., Systems Engineer</h5>
          <p class="fw_300">Tata Consultancy Services</p>
          <p class="fw_300"><span style="float:left">06/2016 - 11/2018</span><span style="float:right">Chennai</span></p>
         
      </div>
      <div class="row">
          <!-- <p style="text-align:justify;font-size:1.3rem">
              Hands on experience with Angular and Spring Boot. 
              Have been working in an agile environment in converting the design mock-ups to functional web pages in minimal time.
              Knowledge in moving Angular projects from development to deployment phase.

          </p> -->
   
          <mz-collection>
              <mz-collection-item class="fw_300">Developing web pages for one of the key product in Retail domain. </mz-collection-item>
              <mz-collection-item class="fw_300">Experience in working with REST services using spring boot and integrating them with Angular</mz-collection-item>
              <mz-collection-item class="fw_300">Done PoCs on Leaﬂet.js, echarts.js and implemented the same as working code</mz-collection-item>
            </mz-collection>
      </div>
    </div>
    <div class="col s12 m6 l4 xl4">
      <h5 class="fw_300">Education</h5>
      <hr/>
      <div class="row">
        <h5 class="no_margin">Bachelor of Technology</h5>
        <p class="fw_300">JNTUA College of Engineering</p>
        <p class="fw_300"><span style="float:left">2012 - 2016</span><span style="float:right">Pulivendula</span></p>
      </div>
      <div class="row">
        <h5 class="no_margin">Diploma in Engineering</h5>
        <p class="fw_300">Government Polytechnic College</p>
        <p class="fw_300"><span style="float:left">2009 - 2012</span><span style="float:right">Anantapur</span></p>
      </div>
      <div class="row">
        <h5 class="no_margin">SSC</h5>
        <p class="fw_300">Railway High Scholl</p>
        <p class="fw_300"><span style="float:left">2005 - 2009</span><span style="float:right">Guntakal</span></p>
      </div>
    </div>
  </div>
</div>

<!-- 
<mz-modal #bottomSheetModal>
        <mz-modal-header>
          <h5>Password for Admin Mode</h5>
        </mz-modal-header>
        <mz-modal-content>
          <input type="password" [(ngModel)]="query">
        </mz-modal-content>
        <mz-modal-footer>
          <button mz-button [flat]="true" mz-modal-close>Cancel</button>
          <button mz-button [flat]="true" mz-modal-close (click)="findText()">Validte</button>
        </mz-modal-footer>
      </mz-modal> -->